.owlBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    padding:16px;
  }
  
    .primaryBtn{
      background-color: #9EFF00;
      color: #000000;
    }
  
    .darkBtn{
      background-color: #181818;
      color: white;
    }
    .lightBtn{
      background-color: #000000;
      color: white;
      border:1px white solid;
    }
  
    .bigBtn{
      font-size: 16px;
      padding:20px 16px;
    }

    .smallBtn{
        font-size: 13px;
        padding:8px 16px;
        line-height: 1;
    }