.treasuryContent {
  padding: 24px;
  width: 100%;
}

.infoCard {
  background-color: #151515;
  padding: 24px;
}
.rightInfo{
    background-color: #000000;
    padding: 20px;
}
.infoItem{
    padding:6px 24px 24px 24px;
    background-color: #000000;
    width: 208px;
    position: relative;
}
.text1 {
  font-size: 16px;
}
.text2 {
  font-size: 48px;
  margin: 16px 0 8px;
}
.text2 span {
  font-size: 16px;
}
.text3 {
  color: #8c919f;
  font-size: 14px;
}

.text4{
    font-size: 20px;
}
.text5{
    font-size: 13px;

}
.text6{
    font-size: 13px;
    color: #9EFF00;

}


.infoItemText1{
    color: #FFFFFF;
    font-size: 20px;
    padding: 18px 0 12px;
}
.infoItemText2{
    color: #8C919F;
    font-size: 13px;
}
.infoItemTextUp{
    color: #15C526;
    font-size: 12px;
    position: absolute;top:2px;
    right: 2px;
}
.infoItemTextDown{
    color: #E72D2D;
    font-size: 12px;
    position: absolute;top:2px;
    right: 2px;
}


.tableItem{
    padding:16px 24px;
    background-color:#151515;
    margin-top:4px;
    cursor: pointer;
}


.tableWrapper{
    margin-left: 24px;
    /* width: 100%; */
    flex:1;
    background-color: #000000;
}

.inputCard{
    align-self: stretch;
    min-width: 320px;
}

.acbtn{
color: white;
 font-size: 10px;
 line-height: 18px;
 border-radius:6px;
 text-align: center;
 cursor: pointer;
 
 padding:2px 10px;
}

.activeAcbtn{
    background-color: rgba(255,255,255,0.3);
}
